# cosantad RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.cosanta
host=127.0.0.1
port=9606

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=3130000

# bootstrap.dat input/output settings (linearize-data)
netmagic=436f7361
genesis=00000216af2a362c1833a0a608408bcdc69d23b276e47d7510a776e3b0bb1fce
input=/home/example/.cosanta/blocks

# regtest (also set port=9966 for linearize-hashes)
#netmagic=ff010203
#genesis=5cc74fcae11b83a1f00ca81106deaae119486ded33918571a639e7b6eac83150
#input=/home/example/.cosanta/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 10000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
